{% extends "layout.html" %}
{% block content %}

<h1 style="margin-bottom:25px;">Changer mon mot de passe</h1>

<div class="card-dark big-card">

    <form method="POST">

        <div class="form-row">
            <div class="form-group">
                <label>Ancien mot de passe :</label>
                <input type="password" name="old_password" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Nouveau mot de passe :</label>
                <input type="password" name="new_password" class="form-control" required>
            </div>
        </div>

        <button class="btn-primary-full" style="width:100%; margin-top:25px;">
            🔐 Changer le mot de passe
        </button>

    </form>

    <a href="/profil" class="link-back">← Retour</a>

</div>

{% endblock %}
