{% extends "layout.html" %}
{% block content %}

<h1>Changer mon mot de passe</h1>

<div class="card-dark big-card">

    <form method="POST">

        <label>Ancien mot de passe :</label>
        <input class="form-control" type="password" name="old_password" required>

        <label>Nouveau mot de passe :</label>
        <input class="form-control" type="password" name="new_password" required>

        <button class="btn-primary" style="width:100%; margin-top:15px;">
            🔐 Changer le mot de passe
        </button>

    </form>

    <br>
    <a href="/profil" class="btn-secondary">← Retour</a>

</div>

{% endblock %}
